
.container{
    width: 100%;
    height: 600px;
    background-image: url('../../assets//HeaderBg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

